## **GDSC Al-Azhar | Data Science Training**

### Print words that start with : **`s`**

In [1]:
test_str = 'Print only the words that start with s in this sentence'

In [2]:
# Split the string into a list:
word_list = test_str.split(" ")

# Iterate over the list and find the words starting with "s":
for word in word_list:
    # Ensure a caseless comparison ny .casefold() method:
    if word.casefold().startswith("s"):
        print(word)

start
s
sentence

### Find the most frequent value in a list

In [3]:
test_list = [1, 2, 3, 9, 2, 7, 3, 5, 9, 9, 9]

In [4]:
def find_most_frequent(seq):

    """Finds the most frequent element in a sequence."""

    element_to_frequency = {}
    max_frequency = 0
    most_frequent = None

    for element in seq:
        element_to_frequency[element] = element_to_frequency.get(element, 0) + 1
        if element_to_frequency[element] > max_frequency:
            max_frequency = element_to_frequency[element]
            most_frequent = element

    return most_frequent

In [5]:
find_most_frequent(test_list)

9

### Use range() to print all the even numbers from 0 to 10.

In [6]:
# Use (%) operator:
for n in range(1, 11):
    if n % 2 == 0:
        print(n)

2
4
6
8
10

In [7]:
# Use an even step:
for n in range(2, 11, 2):
    print(n)

2
4
6
8
10

### Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [8]:
nums = [n for n in range(1, 51) if n % 3 == 0]
nums

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

____
### Use a List Comprehension to create a list of the first letters of every word in the string below:

In [9]:
test_str = 'Create a list of the first letters of every word in this string'

In [10]:
first_characters = [word[0] for word in test_str.split(" ")]
first_characters

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Go through the string below and if the length of a word is even print "even!"

In [11]:
test_str = 'Print every word in this sentence that has an even number of letters'

In [12]:
# Split the string into a list:
word_list = test_str.split(" ")

# Check for word length:
for word in word_list:
  if len(word) % 2 == 0:
    print(word)

word
in
this
sentence
that
an
even
number
of

### Using Code --> How to Update List & dict?

> - **Update a list:**

In [13]:
letters_list = ["a", "b", "c"]

In [14]:
# Append an element:
letters_list.append("d")
letters_list

['a', 'b', 'c', 'd']

In [15]:
# Extend with the elements of another list:
letters_list.extend(["e", "f"])
print(letters_list)

letters_list += ["g", "h"]
print(letters_list)

['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

> - **Update a dict:**

In [16]:
# Update dictionary::
letters_dict = {"a": 1, "b": 2, "c": 3}
letters_dict.update({"d": 4})
letters_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Using Code --> How to delete elements From List?

In [17]:
letters_list

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

> - **Delete by index:**

In [18]:
del letters_list[-1]
letters_list

['a', 'b', 'c', 'd', 'e', 'f', 'g']

> - **Removing and returning an item at given index:**

In [19]:
ch = letters_list.pop(-1)
letters_list

['a', 'b', 'c', 'd', 'e', 'f']

In [20]:
ch

'g'

> - **Delete by value:**

In [21]:
letters_list.remove("f")
letters_list

['a', 'b', 'c', 'd', 'e']

### Using Code --> Advantage of `set()`?

> **1. Remove duplicates.**

In [22]:
# Create a list of numbers with many duplicates:
nums_list = [1, 2, 4, 6, 3, 7, 2, 7, 5 , 7, 4, 7, 5, 4]

# Cast it into a set to get rid of duplicates:
nums_set = set(nums_list)
nums_set

{1, 2, 3, 4, 5, 6, 7}

> **2. Faster search operations.**

In [23]:
# Create a list of numbers and check for the last one:
nums_list = [n for n in range(1000_001)]
%timeit 1000_000 in nums_list  # Time this operation.

# Create a set of the same numbers and check for the last one:
nums_set = set(nums_list)
%timeit 1000_000 in nums_set  # Time this operation.

84.5 ms ± 18.7 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
389 ns ± 52 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

> 3. Python sets allow for performing a group of operations called ""set opaerations", which are very useful in grouping and filtering data.

In [24]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}

In [25]:
# Difference:
print(set_a - set_b)
print(set_b - set_a)
print(set_a ^ set_b)

{1, 2}
{4, 5}
{1, 2, 4, 5}

In [26]:
# Intersection:
print(set_a & set_b)

{3}

In [27]:
# Union:
print(set_a | set_b)

{1, 2, 3, 4, 5}

### Using lambda : Sum 3 nums

In [28]:
# Initialize any random 3 numbers:
x, y, z = 1, 2, 3

# Create an anonymous lambda expression:
add_three_numbers = lambda x, y, z: x + y + z

# Sum up the numbers:
add_three_numbers(x, y, z)

6

### how to sort List 

```
thislist = [100, 50, 65, 82, 23]
```

In [29]:
thislist = [100, 50, 65, 82, 23]

In [30]:
# Return a sorted copy:
sorted_list = sorted(thislist)
sorted_list

[23, 50, 65, 82, 100]

In [31]:
# Sort in place:
thislist.sort()
thislist

[23, 50, 65, 82, 100]

### Reverse List
```
thislist = [100, 50, 65, 82, 23]
```

In [32]:
thislist = [100, 50, 65, 82, 23]

In [33]:
# Return a reversed copy using slicing:
reversed_list = thislist[::-1]
reversed_list

[23, 82, 65, 50, 100]

In [34]:
# Reverse in place:
thislist.reverse()
thislist

[23, 82, 65, 50, 100]

### Write a Python function that takes a list and returns a new list with unique elements of the first list.

```
    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]
```

In [35]:
sample_list = [1, 1, 1, 1, 2, 2, 3, 3, 3, 3 ,4, 5]

In [36]:
def return_unique_elements(seq):
    """Returns the unique elements in a sequence."""
    unique_elements = set(seq)
    return list(unique_elements)

In [37]:
return_unique_elements(sample_list)

[1, 2, 3, 4, 5]

### Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters


    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [38]:
test_str = 'Hello Mr. Rogers, how are you this fine Tuesday?'

In [39]:
def count_upper_and_lower_letters(test_str):
    
    """Counts upper- and lower-cased letters in a string."""
    
    upper_characters = 0
    lower_characters = 0

    for ch in test_str:
        if ch.isupper():
            upper_characters += 1
        if ch.islower():
            lower_characters += 1

    print(f"No. of Upper case characters : {upper_characters}")
    print(f"No. of Lower case characters : {lower_characters}")

In [40]:
count_upper_and_lower_letters(test_str)

No. of Upper case characters : 4
No. of Lower case characters : 33

### Write a Python function to multiply all the numbers in a list.

```
Sample List : [1, 2, 3, -4]
Expected Output : -24
```

In [41]:
test_list = [1, 2, 3, -4]

In [42]:
def multiply_numbers_in_a_list(test_list):
    
    """Returns a cumulative product of numbers in a list."""
    
    result = 1
    for n in test_list:
        result *= n
    return result

In [43]:
multiply_numbers_in_a_list(test_list)

-24

### Write a Python function that checks whether a passed string is palindrome or not

In [44]:
test_str = "rats live on no evil star"

In [45]:
def is_palindrome(test_string):
    """Checks if a string is a palindrome."""
    return test_string == test_string[::-1]

In [46]:
is_palindrome(test_string)

NameError: name 'test_string' is not defined

### Open a file, name it 'test.txt' and write 'I Love python' for 5 times in it then close it.

In [ ]:
line = "I Love python\n"
with open("test.txt", "w") as file:
    for i in range(5):
        file.write(line)

### Handle the exception thrown by the code below by using try and except blocks.

In [47]:
for i in ['a','b','c']:
    print(i ** 2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [48]:
try:
    for i in ['a','b','c']:
        print(i ** 2)
except TypeError as e:
        print(e)

unsupported operand type(s) for ** or pow(): 'str' and 'int'

### Handle the exception thrown by the code below by using try and except blocks. Then use a finally block to print 'All Done.'

In [49]:
x = 5
y = 0
z = x / y

ZeroDivisionError: division by zero

In [50]:
try:
    x = 5
    y = 0
    z = x / y
except ZeroDivisionError as e:
    print(e)

division by zero

### **It does not matter how slowly you go as long as you do not stop.**

**feel free to contact me if you need any further information**
[LinkedIn](https://www.linkedin.com/in/mohamed-ibrahim-513531202/)